LIBRAIRIES

In [5]:
import pandas as pd
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt
import os
from itertools import combinations
from collections import Counter
s

### Fusionner toutes les mois en un seul

In [6]:
path = 'C:\Users\Maaloum\Desktop\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data'
files = [file for file in os.listdir(path) if not file.startswith('.')]
All_months = pd.DataFrame()
for file in files :
    current_data = pd.read_csv(path+"/"+file)
    All_months = pd.concat([All_months, current_data]) 
All_months.to_csv("Tous_les mois.csv", index=False)
All_months.head(5)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

Relire les nouvelles données

In [7]:
tt_data = pd.read_csv("Tous_les mois.csv")
tt_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### Clean up the data!
cette étape consiste à supprimer les données indéserables ou manquantes afin de rendre les données plus sgnificatives

In [8]:
tt_data = tt_data.replace(' ?', np.nan).dropna()
#display(tt_data.head())
tt_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

### Feature Engeneering

In [9]:
#Ajouter une colonne de mois

In [10]:
tt_data = tt_data[tt_data['Order Date'].str[0:2]!='Or']
tt_data.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [11]:
tt_data['Month'] = tt_data['Order Date'].str[0:2]
tt_data['Month'] = tt_data['Month'].astype('int32')
tt_data.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",9
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",9
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",9
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",9
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",9

In [12]:
#Ajour une col pour les villes

In [13]:
def get_city(address):
    return address.split(",")[1].strip(" ")

def get_state(address):
    return address.split(",")[2].split(" ")[1]

tt_data['City'] = tt_data['Purchase Address'].apply(lambda x: get_city(x))
tt_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,Dallas
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,Boston
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,Los Angeles

In [14]:
 #convertir les colonne en numeric

In [15]:
tt_data['Quantity Ordered'] = pd.to_numeric(tt_data['Quantity Ordered'], errors='coerce')
tt_data['Price Each'] = pd.to_numeric(tt_data['Price Each'], errors='coerce')
tt_data['Quantity Ordered'].dtype

dtype('int64')

### Data Exploration

#Quesion 1 : Quel est le meilleur mois de vent ? et combien y'a t-il de gains

In [16]:
tt_data['Sales'] = tt_data['Quantity Ordered'] * tt_data['Price Each'].astype('float')
tt_data.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City,Sales
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",9,Los Angeles,8.97
186846,259354,iPhone,1,700.00,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",9,San Francisco,700.00
186847,259355,iPhone,1,700.00,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",9,San Francisco,700.00
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",9,San Francisco,379.99
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",9,San Francisco,11.95

In [17]:
sales_month = tt_data.groupby(['Month']).sum()['Sales']

In [18]:
months = range(1,13)
print(months)

plt.bar(months,sales_month)
plt.xticks(months)
plt.ylabel('Sales in USD ($)')
plt.xlabel('Month number')
plt.show()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

#Question 2 :Quel ville a vendu plus le produit?

In [19]:
tt_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City,Sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,Dallas,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,Boston,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,Los Angeles,11.99

In [20]:
sales_city =tt_data.groupby(['City']).sum()['Sales']
display(sales_city)
sales_city.values

City
Atlanta          2.795499e+06
Austin           1.819582e+06
Boston           3.661642e+06
Dallas           2.767975e+06
Los Angeles      5.452571e+06
New York City    4.664317e+06
Portland         2.320491e+06
San Francisco    8.262204e+06
Seattle          2.747755e+06
Name: Sales, dtype: float64

array([ 2795498.58000034,  1819581.74999991,  3661642.01000093,
        2767975.40000032,  5452570.80000207,  4664317.43000156,
        2320490.61000004,  8262203.91000401,  2747755.48000031])

In [21]:
#display(tt_data['City'].unique())
keys = tt_data['City'].unique()
type(keys)

numpy.ndarray

#Question 3 : À quelle heure devrions-nous afficher des publicités pour maximiser la probabilité que les clients achètent un produit?

In [22]:
keys = [city for city, df in tt_data.groupby(['City'])]
plt.bar(keys,tt_data.groupby(['City']).sum()['Sales'])
plt.ylabel('Sales in USD ($)')
plt.xlabel('CIties')
plt.xticks(keys, rotation='vertical', size=8)
plt.show()

ValueError: could not convert string to float: Atlanta

In [ ]:
tt_data['Hour'] = pd.to_datetime(tt_data['Order Date'], errors='coerce').dt.hour
tt_data['Minute'] = pd.to_datetime(tt_data['Order Date'], errors='coerce').dt.minute
tt_data['Count'] = 1
tt_data

In [ ]:
tt_data.groupby(['Hour']).count()

In [ ]:
keys = [pair for pair, df in tt_data.groupby(['Hour'])]

plt.plot(keys, tt_data.groupby(['Hour']).count()['Count'])
plt.xticks(keys)
plt.grid()
plt.show()

In [ ]:
#Quastion : 4

In [24]:
df = tt_data[tt_data['Order ID'].duplicated(keep=False)]
df
df['Groupe'] = df.groupby(['Order ID'])['Product'].transform(lambda x : ',' .join(x))
df = df[['Order ID','Groupe']].drop_duplicates()

C:\Users\Maaloum\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [25]:
tt_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City,Sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,Dallas,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,Boston,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,Los Angeles,11.99
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",4,San Francisco,11.95
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101",4,Seattle,99.99
8,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301",4,Atlanta,11.95
9,176565,Macbook Pro Laptop,1,1700.00,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016",4,San Francisco,1700.00
10,176566,Wired Headphones,1,11.99,04/08/19 14:05,"83 7th St, Boston, MA 02215",4,Boston,11.99
11,176567,Google Phone,1,600.00,04/18/19 17:18,"444 7th St, Los Angeles, CA 90001",4,Los Angeles,600.00
12,176568,Lightning Charging Cable,1,14.95,04/15/19 12:18,"438 Elm St, Seattle, WA 98101",4,Seattle,14.95
13,176569,27in 4K Gaming Monitor,1,389.99,04/16/19 19:23,"657 Hill St, Dallas, TX 75001",4,Dallas,389.99
14,176570,AA Batteries (4-pack),1,3.84,04/22/19 15:09,"186 12th St, Dallas, TX 75001",4,Dallas,3.84
15,176571,Lightning Charging Cable,1,14.95,04/19/19 14:29,"253 Johnson St, Atlanta, GA 30301",4,Atlanta,14.95
16,176572,Apple Airpods Headphones,1,150.00,04/04/19 20:30,"149 Dogwood St, New York City, NY 10001",4,New York City,150.00
17,176573,USB-C Charging Cable,1,11.95,04/27/19 18:41,"214 Chestnut St, San Francisco, CA 94016",4,San Francisco,11.95
18,176574,Google Phone,1,600.00,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",4,Los Angeles,600.00
19,176574,USB-C Charging Cable,1,11.95,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",4,Los Angeles,11.95
20,176575,AAA Batteries (4-pack),1,2.99,04/27/19 00:30,"433 Hill St, New York City, NY 10001",4,New York City,2.99
21,176576,Apple Airpods Headphones,1,150.00,04/28/19 11:42,"771 Ridge St, Los Angeles, CA 90001",4,Los Angeles,150.00
22,176577,Apple Airpods Headphones,1,150.00,04/04/19 19:25,"260 Spruce St, Dallas, TX 75001",4,Dallas,150.00
23,176578,Apple Airpods Headphones,1,150.00,04/09/19 23:35,"513 Church St, Boston, MA 02215",4,Boston,150.00
24,176579,AA Batteries (4-pack),1,3.84,04/11/19 10:23,"886 Jefferson St, New York City, NY 10001",4,New York City,3.84
25,176580,USB-C Charging Cable,1,11.95,04/05/19 00:35,"886 Willow St, Los Angeles, CA 90001",4,Los Angeles,11.95
26,176581,iPhone,1,700.00,04/09/19 21:38,"84 Jackson St, Boston, MA 02215",4,Boston,700.00
27,176582,Bose SoundSport Headphones,1,99.99,04/27/19 12:20,"178 Lincoln St, Atlanta, GA 30301",4,Atlanta,99.99
28,176583,AAA Batteries (4-pack),2,2.99,04/20/19 12:00,"146 Jackson St, Portland, OR 97035",4,Portland,5.98
29,176584,Flatscreen TV,1,300.00,04/24/19 20:39,"936 Church St, San Francisco, CA 94016",4,San Francisco,300.00
30,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215",4,Boston,99.99
...,...,...,...,...,...,...,...,...,...
186819,259329,Lightning Charging Cable,1,14.95,09/05/19 19:00,"480 Lincoln St, Atlanta, GA 30301",9,Atlanta,14.95
186820,259330,AA Batteries (4-pack),2,3.84,09/25/19 22:01,"763 Washington St, Seattle, WA 98101",9,Seattle,7.68
186821,259331,Apple Airpods Headphones,1,150.00,09/29/19 07:00,"770 4th St, New York City, NY 10001",9,New York City,150.00
186822,259332,Apple Airpods Headphones,1,150.00,09/16/19 19:21,"782 Lake St, Atlanta, GA 30301",9,Atlanta,150.00
186823,259333,Bose SoundSport Headphones,1,99.99,09/19/19 18:03,"347 Ridge St, San Francisco, CA 94016",9,San Francisco,99.99
186824,259334,USB-C Charging Cable,1,11.95,09/27/19 10:52,"276 14th St, Atlanta, GA 30301",9,Atlanta,11.95
186825,259335,Lightning Charging Cable,1,14.95,09/26/19 17:21,"791 Forest St, Seattle, WA 98101",9,Seattle,14.95
186827,259336,AAA Batteries (4-pack),3,2.99,09/25/19 00:13,"753 14th St, Boston, MA 02215",9,Boston,8.97
186828,259337,USB-C Charging Cable,1,11.95,09/19/19 17:34,"495 Park St, Boston, MA 02215",9,Boston,11.95
186829,259338,AAA Batteries (4-pack),2,2.99,09/02/19 21:29,"666 Lakeview St, Boston, MA 02215",9,Boston,5.98
186830,259339,USB-C Charging Cable,2,11.95,09/12/19 23:43,"509 Park St, Austin, TX 73301",9,Austin,23.90
186831,259340,AA Batteries (4-pack),2,3.84,09/18/19 20:18,"544 Hickory St, Los Angeles, CA 90001",9,Los Angeles,7.68
186832,259341,27in 4K Gaming Monitor,1,389.99,09/24/19 22:16,"501 Adams St, Seattle, WA 98101",9,Seattle,389.99
186833,259342,AA Batteries (4-pack),1,3.84,09/07/19 20:09,"579 South St, Boston, MA 02215",9,Boston,3.84
186834,259343,USB-C Charging Cable,1,11.95,09/14/19 19:30,"675 Maple St, Austin, TX 73301",9,Austin,11.95
186835,259344,AAA Batteries (4-pack),2,2.99,09/10/19 23:33,"721 Madison St, San Francisco, CA 94016",9,San Francisco,5.98
186836,259345,ThinkPad Laptop,1,999.99,09/21/19 23:12,"406 Dogwood St, San Francisco, CA 94016",9,San Francisco,999.99
186837,259346,Bose SoundSport Headphones,1,99.99,09/29/19 17:24,"484 Cedar St, New York City, NY 10001",9,New York City,99.99
186838,259347,AA Batteries (4-pack),1,3.84,09/26/19 10:12,"979 Madison St, Los Angeles, CA 90001",9,Los Angeles,3.84
186839,259348,Lightning Charging Cable,1,14.95,09/30/19 21:03,"260 Spruce St, Boston, MA 02215",9,Boston,14.95
186840,259349,AAA Batteries (4-pack),1,2.99,09/01/19 22:14,"911 River St, Dallas, TX 75001",9,Dallas,2.99
186841,259350,Google Phone,1,600.00,09/30/19 13:49,"519 Maple St, San Francisco, CA 94016",9,San Francisco,600.00
186842,259350,USB-C Charging Cable,1,11.95,09/30/19 13:49,"519 Maple St, San Francisco, CA 94016",9,San Francisco,11.95
186843,259351,Apple Airpods Headphones,1,150.00,09/01/19 19:43,"981 4th St, New York City, NY 10001",9,New York City,150.00
186844,259352,USB-C Charging Cable,1,11.95,09/07/19 15:49,"976 Forest St, San Francisco, CA 94016",9,San Francisco,11.95
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",9,Los Angeles,8.97
186846,259354,iPhone,1,700.00,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",9,San Francisco,700.00
186847,259355,iPhone,1,700.00,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",9,San Francisco,700.00
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",9,San Francisco,379.99
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",9,San Francisco,11.95

In [26]:
count = Counter()

for row in df['Groupe'] :
        sublist = row.split(',')
        #print(sublist)
        count.update(Counter(combinations(sublist,2)))    
for key, value in count.most_common(10) :
    print(key, value )

(('iPhone', 'Lightning Charging Cable'), 1005)
(('Google Phone', 'USB-C Charging Cable'), 987)
(('iPhone', 'Wired Headphones'), 447)
(('Google Phone', 'Wired Headphones'), 414)
(('Vareebadd Phone', 'USB-C Charging Cable'), 361)
(('iPhone', 'Apple Airpods Headphones'), 360)
(('Google Phone', 'Bose SoundSport Headphones'), 220)
(('USB-C Charging Cable', 'Wired Headphones'), 160)
(('Vareebadd Phone', 'Wired Headphones'), 143)
(('Lightning Charging Cable', 'Wired Headphones'), 92)

In [28]:
person = {
      'first_name': 'Asabeneh',
      'last_name': 'Yetayeh',
      'age': 250,
      'country': 'Finland',
      'is_marred': True,
      'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
      'address': {
          'street': 'Space street',
          'zipcode': '02210'
      }
  }

for key in person:
      if key == 'skills':
        for skill in person[key]:
          print(skill)

JavaScript
React
Node
MongoDB
Python